<section class="about container-fluid">
  <div class="landing-page row">
    <div class="col-12">
      <div class="overlay"></div>
      <div class="content">
        <div>
          <h4 class="embolden-first-word">Thousands of watches online</h4>
          <h4>Simple, Easy &amp; Quick!</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="about-container white our">
    <article>
      <div>
        <h2>Our Mission</h2>
        <p>To create the perfect user experience by providing a link between buyers and sellers across the UK watch and jewellery
          community.
        </p>
      </div>
    </article>
    <hr/>
    <article>
      <div>
        <h2>About Us</h2>
        <p>Watch Merchant UK connects retailers and buyers on their terms.</p>
        <p>We are the only UK based dedicated marketplace for luxury watches, the sole purpose to serve the local watch and
          jewellery community with an extremely high quality customer experience and tailored services to suit every need.</p>
        <p>For sellers we provide the opportunity to let both your price and customer experience do the talking and for buyers
          we make it easy to find the watch you want with our intuitive search platform. Giving both the buyer and the seller
          personal and local results.</p>
      </div>
    </article>
    <hr/>
    <article>
      <div>
        <h2>Our Vision</h2>
        <p>To combine the many factors that are often present in a watch purchase, into one exceptional customer experience
          and be a brand that has a connection with it’s users, so that value for money, is the most important thing.</p>
        <p>To treat customers like friends and prove that their business matters not just to them, but to us too.</p>
        <p> We understand that in this era, achieving that connection is no easy task...
          <br/>but by staying true to our core values we create a company that people are proud to associate with.</p>
        <p>We firmly believe that it’s not just what you do, it's
          <strong>how you do it</strong>.</p>
      </div>
    </article>
  </div>
  <div class="about-container why-us">
    <div class="overlay"></div>
    <article>
      <div>
        <h2>Why Us</h2>
        <p>We use simple search, filter and results to show the user exactly what they want.</p>
        <p>We keep the sales process between the seller and their client, meaning no commission fees and more importantly, keeping
          the experts in control of the sale.</p>
        <p>Watch Merchant UK is; quick, easy, sleek, simple and intelligent.</p>
        <p>
          <strong>We Make</strong> it easy for customers browse the watches they want across multiple retailers</p>
        <p>
          <strong>We Motivate</strong> buyers to connect once more to the high street by providing a valuable link</p>
        <p>
          <strong>We Market</strong> the seller’s watches so they don’t have to.</p>
      </div>
    </article>
  </div>
  <div class="about-container let-us-help">
    <article>
      <div>
        <h3 class="white-text no-emphasis">Let
          <span class="gold-text bold-text">Watch Merchant UK</span> help you
          <br/>become part of that easy decision</h3>
        <h2 class="no-emphasis">Buy and sell watches</h2>
        <div>
          <h4>Buy</h4>
          <p>Thousands of watches from sellers from over the nation. At Watch Merchant UK, we know you'll find the watch that
            suits you; from new and un-worn, to vintage and collectors' items.</p>
        </div>
        <div>
          <h4>Sell</h4>
          <p>Every day, hundreds of thousands of watch enthusiasts search for their dream watch. Whether you're a professional
            watch dealer or a private seller, you're all welcome as part of the Watch Merchant UK family.</p>
        </div>
      </div>
    </article>
  </div>
</section>
