.container {
    form {
        width: 100%;    
        table {
            width: 100%;
            tr {
                td {
                    width: 50%;
                    padding-top: 15px;
                    &:first-of-type {
                        text-align: right;
                        padding-right: 15px;
                    }
                    input, textarea {
                        width: 100%;
                    }
                    textarea {
                        height: 100px;
                    }
                }
            }
        }
    }
}