section.quotes
    div(data-parallax="scroll" data-image-src="/images/close-up-watch.jpg")
        .quote-container
            h2 &quot;Simplicity is the art of sophistication&quot;
            h2 - Leonardo da Vinci