section.quotes
    div(data-parallax="scroll" data-image-src="/images/watchmaker.jpg")
        .overlay
        .quote-container
            h2 &quot;Time is precious, spend it wisely.&quot;
            h2 - Watch Merchant UK