<div class="container" *ngIf="email && token; else request">
  <h1 class="align-center">Reset Password</h1>
</div>

<ng-template #request>
  <h1 class="align-center">Reset Password</h1>
  <div class="form-container">
    <form #requestResetForm *ngIf="!resetRequestComplete; else requestComplete">
      <input type="email" name="email" [(ngModel)]="email" placeholder="E-Mail Address" />
      <button class="gold" (click)="requestPasswordResetToken()">Send Password Reset E-Mail</button>
    </form>
  </div>
</ng-template>

<ng-template #requestComplete>
  <p>If an account belonging to {{email}} exists, it has been sent instructions for carrying out a password reset.</p>
  <p>If you don't receive the mail within the next few minutes, please check your spam folder.</p>
</ng-template>