extends index

block content
    section.first
        div.logo-container
            img(src="/images/logo-big.jpg")
        div.newsletter-signup
            include includes/countdown/newsletter-form.pug