<div *ngIf="!registrationComplete">
  <h1 class="align-center capitalise">
    Create Account
  </h1>
  <div class="form-container">
    <p class="align-center">Signing up gets you access to everything Watch Merchant UK</p>
    <p class="align-center">Set up your profile and account preferences</p>
	<ul>
		<li>Manage and upgrade packages</li>
		<li>Review payment details</li>
		<li>Receive email updates</li>
		<li>Look out for exclusive offers</li>
	</ul>
    <a href="" routerLink="/account/create/trade"><button class="gold">Trade</button></a>
    <a href="" routerLink="/account/create/private"><button class="gold">Private</button></a>
  </div>
</div>
