  <div class="container-fluid align-center let-watchmerchantuk-help">
    <strong>Let <span class="gold-text">Watch Merchant UK</span></strong> help you become part of that easy decision
  </div>

<footer>
  <div class="container align-center d-block d-sm-none">
    <h4>Do you have any questions?</h4>
    <h5>Contact us.</h5>
    <p>We're happy to help</p>
    <p><a href="mailto:hello@watchmerchantuk.com" class="email-link">hello@watchmerchantuk.com</a></p>
  </div>

  <div class="container align-center d-none d-sm-block">
      <h4>Do you have any questions? Contact us.</h4>
      <p>We're happy to help: <a href="mailto:hello@watchmerchantuk.com" class="email-link">hello@watchmerchantuk.com</a></p>
  </div>

  <div class="container-fluid align-center newsletter-sub-container">
    <strong>Subscribe</strong> to our weekly newsletter
    <input type="email" placeholder="Your E-Mail" [(ngModel)]="newsletterSubscriptionEmail" />
    <button (click)="this.newsletterSignup()"><strong>Sign</strong> Up</button>
  </div>
  <div class="container-fluid">
    <div class="row">
      <p>
        <span class="gold-text"><strong>Connect</strong>&nbsp;with us</span>
        <span class="small-text">
          <a href="//www.facebook.com/watchmerchant">Facebook</a>
        </span>
        |
        <span class="small-text">
          <a href="//www.twitter.com/watchmerchant_">Twitter</a>
        </span>
        |
        <span class="small-text">
          <a href="//www.instagram.com/watch_merchant_uk">Instagram</a>
        </span>
        |
        <span class="small-text">
          <a href="//www.linkedin.com/company/watch-merchant-uk-ltd/">LinkedIn</a>
        </span>
      </p>
    </div>
    <div class="row">
      <p>
        <span class="gold-text"><strong>Help</strong></span>
        <span class="small-text">
          <a routerLink="/help/buying">Buying</a>
        </span>
        <span class="small-text">
          | <a routerLink="/help/selling">Selling</a>
        </span>
        <span class="small-text">
          | <a routerLink="/help/faq">FAQs</a>
        </span>
        <span class="small-text">
          | <a routerLink="/help/workwithus">Working with us</a>
        </span>
      </p>
    </div>
    <div class="row">
      <p>
        <span class="gold-text"><strong>Account</strong></span>
        <span class="small-text">
          <a routerLink="/account">My account</a>
        </span>
        <span class="small-text">
          | <a routerLink="/help/finance">Finance</a>
        </span>
        <span class="small-text">
          | <a routerLink="/account/wish-list">Wishlist</a>
        </span>
      </p>
    </div>
    <div class="row">
      <p>
        <span class="gold-text"><strong>Company</strong></span>
        <span class="small-text">
          <a routerLink="/company/contact-us">Contact Us</a>
        </span>
        <span class="small-text">
          | <a routerLink="/company/about">About</a>
        </span>
        <span class="small-text">
          | <a routerLink="/company/terms">Terms &amp; Conditions</a>
        </span>
        <span class="small-text">
          | <a routerLink="/company/privacy">Privacy</a>
        </span>
      </p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col align-center small-text">
        <p><img src="/assets/images/ssl.png" alt="Secured by SSL" />&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/images/secured-by-stripe.png" alt="Secured by Stripe" /></p>
        <span>&copy; Copyright 2018 | Watch Merchant UK | All Rights Reserved</span>
      </div>
    </div>
  </div>
</footer>
